@import url('common.css');
body {
    font-family: 'Montserrat', sans-serif;
}

/* header style */
.main-header {
    background: #000;
    color: white;
    padding: 30px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main-header h1 {
    /* float: left; */
    margin-left: 10px;
    flex: 3;
}

.main-header .main-header__brand {
    font-size: 26px;
    font-weight: 700;
}

.main-header .main-nav {
    /* float: right; */
    margin-top: 5px;
    flex: 7;
}
.main-header .main-nav .main-nav__items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main-header .main-nav .main-nav__item {
    /* float: left; */
    margin: 0 10px;
}

.main-header .main-nav .main-nav__item a {
    display: block;
    font-weight: bold;
    padding: 3px 0;
}

.main-header .main-nav .main-nav__item a:hover {
    color: #888;
    border-bottom: 5px solid #888;
}

.main-header .main-nav .main-nav__item—cta a {
    background: #ff1b68;
    padding: 8px 16px;
    border-radius: 8px;
}

.main-header .main-nav .main-nav__item—cta a:hover {
    border: none;
    color: #ff1b68;
    background: #fff;
}
.main-footer{
    height: 80px;
    background: #000;
    color: #fff;;
   
}
.main-footer .main-footer__links {
    display: flex;
    width: 13%;
    margin: 0 auto;
    padding-top: 30px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
/* 
.main-footer {
  background: #000;
  padding: 32px;
}

.main-footer__links {
  display: flex;
  justify-content: center;
  text-align: center;
}

.main-footer__link {
  margin: 0 16px;
}

.main-footer__link a {
  color: #fff;
  text-decoration: none;
}

.main-footer__link a:hover,  .main-footer__link a:active {
  color: #ccc;
} */